<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Open source hosting for your brand and visual assets</h1>
                        <a href="https://demo.identihub.co" class="btn btn-outline btn-xl page-scroll" target="blank">TRY THE DEMO!</a>
                        <br />
                        <br />
                        <br />
                        <br />   
                        <div>
                             <form action="https://tinyletter.com/uracreative" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/uracreative', 'popupwindow', 'scrollbars=no,width=800,height=500');return true">
                                 <p>Subscribe to get updates on Identihub</p>
                                 <p><input type="email" placeholder="email@example.com" name="email" id="tlemail" />
                                 <input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                      <div class="device-mockup nexus7 portrait">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="{{ site.url }}/img/demo-screen-1.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
