<section>    
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Privacy Policy</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                    <h4>Your privacy is critically important to us. At Identihub, we have a few fundamental principles:
</h4>
              <ul>      
                  <li>We don’t ask you for personal information unless we truly need it. (We can’t stand services that ask you for things like your gender or income level for no apparent reason.)</li>
                <li>We don’t share your personal information with anyone except to comply with the law, develop our products, or protect our rights.</li>
                <li>We don’t store personal information on our servers unless required for the ongoing operation of one of our services.</li>
                <li>In our platform, we aim to make it as simple as possible for you to control what’s visible to the public, seen by search engines, kept private, and permanently deleted.</li>
              </ul>
              <p>Below is our privacy policy, which incorporates these goals. (Note: this privacy policy available under a Creative Commons ShareAlike license, which means you’re more than welcome to steal it and repurpose it for your own use. Just make sure to replace references to us with ones to you, and we’d appreciate a link to Automattic.com, which is the organisation the created this document first.)</p>
              <p>If you have questions about deleting or correcting your personal data please contact our support team.<br />It is Identihub’s policy to respect your privacy regarding any information we may collect while operating our platform.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Easy for designers</h3>
                    <p class="text-muted">Add icons, logos, fonts and illustrations on one single page and share them with easily with your partners, co-workers and communities.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Easy for non designers</h3>
                    <p class="text-muted">Now your SVG files are easily converted and used from non designers without the need to send files back and forth via email.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Community empowered</h3>
                    <p class="text-muted">All the code of Identihub is hosted on GitHub and many people of the community are already contributing and making the software even better.</p>
                </div>
            </div>
        </div>
    </div>
</section>
