<!-- jQuery -->
<script src="{{ site.url }}js/jquery.js"></script>

<!-- Bootstrap Core JavaScript
<script src="js/bootstrap.min.js"></script> -->

<!-- Plugin JavaScript -->
<script src="{{ site.url }}js/jquery.easing.min.js"></script>
<script src="{{ site.url }}js/jquery.fittext.js"></script>
<script src="{{ site.url }}js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.url }}js/creative.js"></script>

<!-- jQuery
<script src="/vendor/jquery/jquery.min.js"></script> -->

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.url }}vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="{{ site.url }}js/new-age.min.js"></script>

<!-- Scripts to delay form submit after animation and success message is shown -->
<script>
$('#newsletter').submit(function(event) {
	event.preventDefault();
	$( "#message" ).toggle( "2000", function();
	var self = this;
	window.setTimeout(function() {
		self.submit();
	}, 2000);
});
</script>

<!-- Script to disable Submit button unless email field is filled correctly -->

<script>
$('form > input').keyup(function() {
var empty1 = false;
$('form > input').each(function() {
if ($(this).val() === '') {
 empty1 = true;
}
});

if (empty1) {
$('#send').attr('disabled', 'disabled');
} else {
     $('#send').prop("disabled", false);
}
});
</script>
