<!-- jQuery -->
<script src="{{ site.url }}js/jquery.js"></script>

<!-- Bootstrap Core JavaScript
<script src="js/bootstrap.min.js"></script> -->

<!-- Plugin JavaScript -->
<script src="{{ site.url }}js/jquery.easing.min.js"></script>
<script src="{{ site.url }}js/jquery.fittext.js"></script>
<script src="{{ site.url }}js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.url }}js/creative.js"></script>

<!-- jQuery
<script src="/vendor/jquery/jquery.min.js"></script> -->

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.url }}vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="{{ site.url }}js/new-age.min.js"></script>

<script>
$( "#submit" ).click(function() {
  $( "#message" ).toggle( "1500", function() {
    // Animation complete.
  });
});
</script>

<!-- Script to disable Submit button unless email field is filled correctly -->
<script>
$(document).ready(function (){
    validate();
    $('#inputEmail').change(validate);
});
</script>

<script>
function validate(){
    if ($('#inputEmail').val().length  >  0
        {
        $("input[type=submit]").prop("disabled", false);
    }
    else {
        $("input[type=submit]").prop("disabled", true);
    }
}
</script>
