
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>{% t features %}</h2>
                        <p class="text-muted">{% t main_features %}</p>
                        <hr>
                    </div>
                </div>
            </div>
           <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>{% t feature_1 %}</h3>
                                    <p class="text-muted">{% t feature_1_desc %}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>{% t feature_2 %}</h3>
                                    <p class="text-muted">{% t feature_2_desc %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>{% t feature_3 %}</h3>
                                    <p class="text-muted">{% t feature_3_desc %}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>{% t feature_4 %}</h3>
                                    <p class="text-muted">{% t feature_4_desc %}</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
