<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">

    <div id="cookieConsent" style="display: none;">
    <div id="closeCookieConsent">x</div>
    This website is using cookies. <a href="/privacy-policy" target="_blank">More info</a>. <a class="cookieConsentOK">That's Fine</a>
    </div>

  {% include nav.html %}
  {% include header.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include feature.html %}
  {% include contact.html %}
  {% include scripts.html %}

</body>

</html>
